.upload-queue-dialog {
  .modal-dialog {
    min-width: 700px;
  }

  .title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
  }

  .progress-num {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
  }

  .progress-percent {
    margin-bottom: 10px;
  }

  .upload-log-list {
    height: 140px;
    overflow: auto;
    border: 1px solid $gray-200;

    .list-item {
      padding: 4px;
      font-size: 12px;
      font-family: "Courier New";
      line-height: 120%;

      &.list-item-error {
        color: $danger;
      }

      &.list-item-success {
        color: $success;
      }

      &.list-item-info {
        color: $gray-600;
      }
    }
  }

  .controls {
    margin: 20px 0;
    text-align: center;
  }
}
