.delete-queue-dialog {
  .modal-dialog {
    min-width: 700px;
  }

  .delete-confirm {
    .title {
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 20px;
      text-align: center;
    }

    .controls {
      display: flex;
      justify-content: center;

      .btn:not(:last-child) {
        margin-right: 10px;
      }

      .separator {
        width: 1px;
        margin-right: 10px;
        background: $gray-300;
      }
    }
  }

  .delete-progress {
    .title {
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 20px;
      text-align: center;
    }

    .description {
      margin: 0 auto 20px auto;
      text-align: center;
    }

    .progress-percent {
      margin-bottom: 10px;
    }

    .controls {
      margin-top: 10px;
      text-align: center;
    }
  }
}
