.browser-entry {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  padding: 6px 14px;


  &.entry-folder, &.entry-parent-folder {
    cursor: pointer;
  }

  .entry-header {
    position: relative;
    width: 40px;
    height: 32px;

    .select-input {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      display: flex;
      align-items: center;
      height: 100%;
      z-index: 1;
      padding-left: 4px;

    }

    .entry-icon {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      z-index: 2;

      &.entry-icon-folder {
        .shapes {
          height: 24px;
          position: relative;

          .shape1, .shape2 {
            background: $primary;
            position: absolute;
            left: 0;
          }

          .shape1 {
            width: 28px;
            height: 20px;
            top: 4px
          }

          .shape2 {
            top: 0;
            width: 16px;
            height: 4px;

            &:before {
              display: block;
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              width: 0;
              height: 0;
              border-width: 2px;
              border-style: solid;
              border-color: $white $white $primary $primary;
            }
          }
        }
      }

      &.entry-icon-file {
        .shape {
          width: 28px;
          height: 28px;
          background: $gray-200;
          position: relative;

          .type-name {
            position: absolute;
            bottom: 3px;
            left: 2px;
            font-size: 12px;
            width: 100%;
            line-height: 100%;
          }

          &:before {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            border-width: 5px;
            border-style: solid;
            border-color: $white $white rgba(255, 255, 255, .35) rgba(255, 255, 255, .35);
          }
        }

        &.icon-image {
          color: $green;
        }

        &.icon-js {
          color: $indigo;
        }

        &.icon-json {
          color: $primary
        }

        &.icon-css {
          color: $pink;
        }

        &.icon-html {
          color: $orange;
        }
      }
    }
  }

  &:hover {
    background: $gray-100;

    .entry-header {
      .entry-icon {
        &.entry-icon-folder {
          .shapes {
            .shape2 {
              &:before {
                border-color: $gray-100 $gray-100 $primary $primary;
              }
            }
          }
        }
      }
    }
  }

  &.entry-file, &.entry-folder {
    &:hover, &.checked {
      .entry-header {
        .entry-icon {
          display: none;
        }
      }
    }

    &.checked {
      cursor: default;
    }
  }


  &:hover {
    background: $gray-100;
  }

  &.checked {
    background: lighten($primary, 46)
  }

  .entry-label {
    font-size: 14px;
    color: $gray-700;
    max-width: calc(100% - 180px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .h-space {
    flex-grow: 1;
  }

  .entry-size {
    font-size: 12px;
    color: $gray-500;
  }
}