.new-project-dialog {
  .modal-body {
    .domain-input {
      padding: 30px 0 40px 0;

      .form-feedback {
        height: 2em;
        display: flex;
        align-items: center;

        .form-text {
          margin: 0;
        }
      }

      .dns-info {
        margin-top: 10px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}