@import 'bootstrap';
@import 'colors';

html {
  scroll-behavior: smooth;
}


html, body {
  height: 100%;
  position: absolute;
  width: 100%;
  user-select: none;
}

body{
  background-color: #fbfcfd;
}

#root {
  height: 100%;
  width: 100%;
}

.user-select{
  user-select: text;
}

@import '../components/pages/home/index';
@import '../components/pages/auth/index';
@import '../components/pages/manager/index';
@import '../components/pages/manager/navbar';
@import '../components/pages/manager/sidemenu';
@import '../components/pages/manager/project';
@import '../components/pages/manager/browser/index';
@import '../components/pages/manager/browser/entry/index';
@import '../components/pages/manager/browser/upload-zone/index';


@import '../components/dialogs/new-project/index';
@import '../components/dialogs/upload-queue/index';
@import '../components/dialogs/delete-queue/index';


@import '../components/helper/message/index';
@import '../components/helper/checkbox/index';