@import 'bootstrap';
@import 'colors';

html {
  scroll-behavior: smooth;
}


html, body {
  height: 100%;
  position: absolute;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  user-select: none;
}

@import '../components/pages/home/index';
@import '../components/pages/auth/index';
@import '../components/pages/manager/index';
@import '../components/pages/manager/sidemenu';
@import '../components/pages/manager/project';
@import '../components/pages/manager/browser/index';


@import '../components/dialogs/new-project/index';
@import '../components/dialogs/upload-queue/index';


@import '../components/helper/message/index';