
.main-nav {
  background: #1d5df9;
  padding-top: 20px;
  padding-bottom: 20px;

  .navbar-brand {
    font-size: 14px;
    display: inline-flex;
    align-items: flex-start;

    img {
      height: 48px;
      margin-right: 10px;
    }
  }

  .navbar-toggler {
    border: 0;
    outline: 0;
  }

  .navbar-nav {
    .nav-link {
      margin: 6px 0;

      @media (min-width: $lg-break) {
        margin-top: 0;
        margin-bottom: 0;

        &:not(:first-child) {
          margin-left: 40px;
        }
      }

      font-weight: 600;
      color: rgba($white, .75);
      font-size: 1.1rem;

      &:hover {
        color: rgba($white, .95);
      }
    }

    .controls {
      margin-top: 6px;

      @media (min-width: $lg-break) {
        margin-top: 0;
        margin-left: 40px;
      }

      .btn {
        width: 112px;
        font-weight: 500;
      }

      .login-btn {
        margin-right: 10px;
      }
    }
  }
}

.hero {
  background: #1d5df9;
  height: 442px;
  display: flex;
  align-items: center;

  @media (min-width: $lg-break) {
    height: 580px;
  }


  .row {


    display: flex;
    align-items: center;
    justify-content: center;

    .c-1 {
      .content {
        text-align: center;

        @media (min-width: $lg-break) {
          text-align: left;
        }

        h1 {
          color: $white;
          font-size: 2.2rem;
          font-weight: 800;
          margin-bottom: 21px;
        }

        p {
          color: rgba($white, .75);
          font-size: 18px;
          font-weight: 500;
          margin: auto;
          max-width: 456px;

          @media (min-width: $lg-break) {
            margin: 0;
          }
        }

        .launch-btn {
          padding: 14px;
          font-weight: 600;
          margin-top: 25px;
          width: 100%;

          @media (min-width: $md-break) {
            width: 300px;
          }
        }
      }
    }

    .c-2 {
      img {
        float: right;

        @media (max-width: ($lg-break - 1px)) {
          display: none;
        }

        @media (min-width: $lg-break) {
          width: 400px;
        }

        @media (min-width: $xl-break) {
          width: auto;
        }
      }
    }
  }
}

.features {
  margin: 60px 0 50px 0;

  h2 {
    font-weight: 500;
    margin-bottom: 60px;
    text-align: center;
  }

  .feature {
    padding: 30px;
    background: $white;
    box-shadow: 0 0 30px rgba(0, 0, 0, .03);
    transition: all .3s;
    margin-bottom: 30px;

    &:hover {
      transform: translateY(-5px) translateZ(0);
    }

    .icon {
      svg {
        color: $primary;
        fill: $primary;
        width: 36px;
        height: 36px;
        margin-bottom: 20px;
      }
    }

    h5 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 15px;
      font-weight: 500;
      color: #bdbac2;
    }
  }
}

.get-started {
  padding: 40px 0;
  background: #1d5df9;

  h2 {
    font-weight: 500;
    color: $white;
    margin-bottom: 40px;
    text-align: center;
  }

  .video {
    width: 200px;
    height: 150px;
    background: $gray-200;
    margin: auto;

    @media (min-width: $sm-break) {
      width: 400px;
      height: 300px;
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.testimonials {
  padding: 80px 0 50px;

  h2 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
  }

  .testimonial {
    padding: 30px;
    background: $white;
    box-shadow: 0 0 30px rgba(0, 0, 0, .03);
    transition: all .3s;
    margin-bottom: 30px;

    &:hover {
      transform: translateY(-5px) translateZ(0);
    }

    .quote {
      font-weight: 500;
      color: #bdbac2;
      margin-bottom: 26px;
    }

    .author {
      display: flex;

      .avatar {
        width: 40px;
        height: 40px;
        margin-right: 15px;
      }

      .name {
        h5 {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 7px;
        }

        span {
          display: block;
          font-size: 15px;
          font-weight: 500;
          line-height: 1;
          color: #bdbac2;
        }
      }
    }
  }
}

.bottom-cta {
  padding-bottom: 50px;
  text-align: center;
}

.main-footer {
  border-top: 2px solid $gray-100;
  margin: 40px 0 0 0;
  padding: 40px 0;
  background: $white;

  h4 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  ul {
    padding-left: 0;
    margin-bottom: 34px;
    list-style: none;


    li {
      font-weight: 500;


      a {
        color: #bdbac2;
      }
    }

    li + li {
      margin-top: 14px;
    }
  }

  .social-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: #f5f5f5;
    border-radius: 100%;
    margin: 0 12px 12px 0;


    svg {
      width: 20px;
      height: 20px;
      fill: #bdbac2;
      color: #bdbac2;
    }
  }
}

