
.main-nav {
  background: #1d5df9;
  padding-bottom: 0;
  padding-top: 20px;

  .navbar-brand {
    img {
      height: 48px;
    }
  }

  .navbar-toggler {
    border: 0;
    outline: 0;
  }

  .navbar-nav {
    .nav-link {
      margin: 6px 0;

      @media (min-width: $lg-break) {
        margin-top: 0;
        margin-bottom: 0;

        &:not(:first-child) {
          margin-left: 40px;
        }
      }

      font-weight: 600;
      color: rgba($white, .75);
      font-size: 1.1rem;
    }

    .controls {
      margin-top: 6px;

      @media (min-width: $lg-break) {
        margin-top: 0;
        margin-left: 40px;
      }

      .btn {
        width: 112px;
        font-weight: 500;
      }

      .login-btn {
        margin-right: 10px;
      }
    }
  }
}

.hero {
  background: #1d5df9;
  height: 442px;
  display: flex;
  align-items: center;

  @media (min-width: $lg-break) {
    height: 580px;
  }


  .row {


    display: flex;
    align-items: center;
    justify-content: center;

    .c-1 {
      .content {
        text-align: center;

        @media (min-width: $lg-break) {
          text-align: left;
        }

        h1 {
          color: $white;
          font-size: 2.2rem;
          font-weight: 800;
          margin-bottom: 21px;
        }

        p {
          color: rgba($white, .75);
          font-size: 18px;
          font-weight: 500;
          margin: auto;
          max-width: 456px;

          @media (min-width: $lg-break) {
            margin: 0;
          }
        }

        .launch-btn {
          padding: 14px;
          font-weight: 600;
          margin-top: 25px;
          width: 100%;

          @media (min-width: $md-break) {
            width: 300px;
          }
        }
      }
    }

    .c-2 {
      img {
        float: right;

        @media (max-width: ($lg-break - 1px)) {
          display: none;
        }

        @media (min-width: $lg-break) {
          width: 400px;
        }

        @media (min-width: $xl-break) {
          width: auto;
        }
      }
    }
  }
}