
.manager-page {
  height: 100%;

  .header {
    background: $primary;
    height: 50px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      width: 47px;
      height: 36px;
      margin-left: 11px;

      img {
        max-height: 36px;
      }
    }
  }

  .page-content {
    height: calc(100% - 50px);
    background: $white;

    .no-project, .no-selected-project {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .message-header {
        font-size: 32px;
        color: $gray-500;
        margin-bottom: 20px;
      }
    }

    .no-selected-project {
      float: right;
      width: calc(100% - 268px);
    }
  }
}