
.manager-page {
  height: 100%;
  min-width: 992px;

  .page-content {
    height: calc(100% - 60px);
    background: $white;
    min-height: 600px;

    .no-project, .no-selected-project {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .message-header {
        font-size: 32px;
        color: $gray-500;
        margin-bottom: 20px;
      }
    }

    .no-selected-project {
      float: right;
      width: calc(100% - 268px);
    }
  }
}

