
.manager-page {
  height: 100%;

  .header {
    background: $primary;
    height: 50px;
  }

  .page-content {
    height: calc(100% - 50px);
    background: $gray-100;


    .project-list {
      width: 268px;
      background: $secondary;
      height: 100%;
      padding: 10px 0;
      float: left;

      .project-list-item {
        color: $gray-900;
        padding: 6px 12px;
        cursor: pointer;

        &.active, &:hover {
          background-color: darken($secondary, 10);
        }
      }
    }


    .no-project, .no-selected-project {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .message-header {
        font-size: 32px;
        color: $gray-500;
        margin-bottom: 20px;
      }
    }

    .no-selected-project {
      float: right;
      width: calc(100% - 268px);
    }
  }
}