.project {
  float: right;
  width: calc(100% - 268px);
  height: 100%;

  .toolbar {
    height: 44px;
    border-bottom: 1px solid darken($gray-100, 3);
    display: flex;
    align-items: center;
    padding: 10px 14px 10px 18px;

    .select-input {
      width: 30px;
      display: flex;
      align-items: center;
      height: 100%;
      border-right: 1px solid $gray-200;
    }

    .refresh-btn {
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 2px;
      height: 100%;
      border-right: 1px solid $gray-200;

      .inner-btn {
        width: 22px;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;

        svg {
          width: 22px;
          height: 22px;
          fill: $gray-600;
        }
      }

      &.disabled {
        .inner-btn {
          pointer-events: none;

          svg {
            fill: $gray-300;
          }
        }
      }
    }

    .project-name {
      padding: 0 14px;
      display: flex;
      align-items: center;
      height: 100%;
      border-right: 1px solid $gray-200;

      a {
        color: $gray-600;
      }
    }

    .full-path, .items-selected {
      color: $gray-600;
      font-size: 16px;
      padding: 0 10px 0 0;
      margin-left: 10px;
    }

    .full-path {
      display: flex;
      align-items: center;
      height: 100%;
      line-height: 100%;
      color: $gray-600;

      .home-btn {

        margin-right: 10px;
        cursor: pointer;

        svg {
          width: 22px;
          height: 22px;
          fill: $gray-500;
        }
      }

      .path {
        cursor: pointer;

        &:hover {
          color: $primary;
          text-decoration: underline;
        }
      }

      .separator {
        margin: 0 4px;
      }
    }

    .items-selected {
      display: flex;
      align-items: center;

      .selected-label {
        margin-right: 10px;
      }

      .delete-btn {
        cursor: pointer;
        display: flex;
        height: 22px;
        line-height: 0;

        .inner-btn {
          svg {
            width: 22px;
            height: 22px;
            fill: $gray-600;
          }
        }
      }
    }


    .h-space {
      flex-grow: 1;
    }


    .settings {
      cursor: pointer;

      svg {
        width: 22px;
        height: 22px;
        fill: $gray-600;
      }
    }
  }
}