.project {
  float: right;
  width: calc(100% - 268px);
  height: 100%;

  .toolbar {
    height: 44px;
    border-bottom: 1px solid darken($gray-100, 3);
    display: flex;
    align-items: center;
    padding: 10px 14px;

    .select-input {
      padding-right: 10px;
      display: flex;
      align-items: center;
      height: 100%;
    }

    .project-path {
      color: $gray-600;
      font-size: 16px;
      flex-grow: 1;
      padding: 0 10px;
    }

    .upload-btn {
      svg {
        width: 30px;
        height: 30px;
        fill: $gray-600
      }

      cursor: pointer;

      input[type="file"] {
        display: none;
      }
    }
  }


}