.browser {
  height: calc(100% - 44px);

  .browser-entries {
    height: calc(100% - 160px);
    overflow-y: auto;
  }

  .file-upload {
    height: 160px;
    border-top: 3px solid $gray-100;
  }

  &.no-file {
    .file-upload {
      height: 100%;
    }
  }
}